.bold{
    font-weight: bold;
}
.m-r{
    margin-right: 15px;
}
.list-group-item{
    display: flex;
    a{
        line-break: anywhere;
    }
}
.goBack{
    margin-top: 10px;
}
.card-img-top{
    height: 400px;

}